<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ministries</h2>
                    <h3 class="section-subheading text-muted">Check out the ministries below! If there is one you'd like to connect with, call and let us know.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">


						<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" src="img/about/biblestudy.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Pastor's Bible Study</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Psalm 86:11 (NKJV) says, "Teach me Your way, O Lord; I will walk in Your truth." - Our Pastor's Bible Study seeks to equip God's people with an understanding of the God's Word, and how to implement that truth into our lives. In depth studies of a book of the Bible, or occasionally topical studies, help prepare us to withstand the trials and temptations we face every day.
									</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" src="img/about/obkc-logo-square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Open Bible Kids Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">OBKC exists to inspire a young generation to live for Jesus Christ and take His life-giving
message to their families, schools, communities and even the world.</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive lazyload" src="img/about/soul-sisters.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Soul Sisters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">...hopes to support women in their relationship with God through
friendships, by being a living example, and teaching one another, so that we might experience the freedom to become all that God intends us to be. We
help give women a place to belong, friendships, encouragment in spiritual growth, and outreach opportunities to other women in our
community through the love of Jesus.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>You Matter!</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> We are glad you stopped by and we hope to see you soon. If there is anything we can do to help you get connected let us know. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
