<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ministries</h2>
                    <h3 class="section-subheading text-muted">We are so excited you are here!  Check out the ministries below and see if there is one you'd like to connect with, if so, call us and we'll connect you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">







                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/soul-sisters.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Soul Sisters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">...hopes to support women in their relationship with God through
friendships, by being a living example, and teaching one another, so that we might experience the freedom to become all that God intends us to be. We
help give women a place to belong, friendships, encouragment in spiritual growth, and outreach opportunities to other women in our
community through the love of Jesus.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>You Matter!</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> We are glad you stopped by and we hope to see you soon. If there is anything we can do to help you get connected let us know. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
