  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="copyright">Copyright:&copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://www.google.com/maps?q=1932+Albia+Rd+Ottumwa,+IA+52501&es_sm=119&um=1&ie=UTF-8&sa=X&ei=efrjVNT8B8mmyAT38YHoCw&ved=0CAgQ_AUoAQ">


                            {% for address in site.address %}
                            {{address.line}}
                            {% endfor %}


                        </a>
                        </li>
                        <li>  <a href="tel:6416846501">641-684-6501</a>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
