<!-- event Grid Section -->
    <section id="series" class="stripes-light" style="padding: 10px;">
    <!-- <section id="series" class="bg-light-gray stripes-light" style="padding: 10px;"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Current Teaching Series : </h2>
                    <!-- <h3 class="section-subheading text-muted">Here are some upcoming events!<h>3 -->
                    <!-- <h3 class="section-subheading text-muted">See <a class="page-scroll" href="#portfolio">Announcements</a> for this week's events.<h> -->
                </div>
            </div>
            <div class="row">


            <!-- {% for post in site.events %}
                <div class="col-md-6 col-sm-6">
                    <a href="events/{{ post.slug }}.html">
                        <img src="{{ post.thumbnail }}" class="img-responsive lazyload corners" alt="" >
                    </a>
                    <div class="portfolio-caption">
                      <a href="events/{{ post.slug }}.html">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                      </a>
                    </div>
                </div>
            {% endfor %} -->

                <div class="col-md-6 col-sm-6 col-centered">
                  <img src="img/bodywork.jpg" class="img-responsive lazyload corners" alt="" >
                </div>
                </br>


                <!-- <div class="col-md-6 col-sm-6 col-centered">
                  <h3
                    style="
                    text-shadow: 0 0 1px #FF00FE, 0 0 1px  #00FFFF;
                    animation: glitch 2005ms infinite;
                    animation-delay: 10ms;
                    margin: 40px auto;
                    text-align: center;
                    font-size: 120px;
                    font-family: sans-serif;
                    filter: blur(10);">
                    CULTURE SH/FT
                  </h3>
                </div>
                </br> -->



            </div>
        </div>
    </section>
