<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Worship Services:</h2> <br><br>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">Sunday:</h3>
                </div>
            </div>
            <div class="col-lg-2 text-left">
                <h3 class="section-heading"></h3> <br><br><br>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cross Connection:  </h4>
                    <h5 class="service-heading">Sunday: 9 AM </h5>
		    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Worship and the Word: </h4>
                    <h5 class="service-heading">Sunday: 10 AM </h5>

                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->

                </div>

                <div class="col-lg-12 text-left">
                    <br><br><br> <h3 class="section-heading">Wednesday:</h3>
                </div>



                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wednesday Family Night: </h4>
                    <h5 class="service-heading">Food/Kids Activities: 6:00 PM </h5>
                    <h5 class="service-heading">Youth: 6:30-8 PM </h5>
                    <h5 class="service-heading">Kids Club: 6:30-8 PM </h5>
                    <h5 class="service-heading">Adult Bible Studies: 6:30-8 PM </h5>

                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br><br><h3 class="section-heading">Need a ride to Wednesday Family Night?</h3>
                    </div>
                    <div class="col-md-2 ">
                        <span class="fa-stack fa-4x"></span>
                    </div>

                    <div class="col-md-4 ">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Give Aaron a call: </h4>
                        <div class= "text-center ">
                            <a href="tel:6417770109" class="page-scroll btn btn-xl  "><div class="text-muted">641-777-0109</div></a>
                        </div>
                        <br><br>

                        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                    </div>
                    <div class="col-md-4 ">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Give Travis a call: </h4>
                        <div class= "text-center ">
                            <a href="tel:6417776173" class="page-scroll btn btn-xl  "><div class="text-muted">641-777-6173</div></a>
                        </div>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
